@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: normal;
	letter-spacing: 2px;
	color: #193875;
	background: #d8cccc;
}

.container {
	margin: auto;
	max-width: 800px;
}

#avatar {
	height: 200px;
	border-radius: 20px;
	box-shadow: 4px 4px 14px 1px rgba(0, 0, 0, 0.25);
}

.html p {
	font-size: 16px;
}

.css p {
	font-size: 14px;
}

.table {
	min-width: 250px;
	text-align: center;
	color: #D2691E;
}

.card {
	background: #eee;
	padding: 10px 20px;
	margin-bottom: 15px;
	border-radius: 10px;
}

.bio {
	background-color: cornsilk;
}